body {
    background-color: CornflowerBlue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 2;
    color: rgb(11, 10, 10);
    margin: 20;
    padding: 20;
    text-align: center;
}
input {
    font-size: 20px;
    line-height: 2;
    color: #333;
    margin: 20;
    padding: 20;
}